# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.78.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
          - --args=--module
          - --args=--disable-rule=terraform_required_providers
          - --args=--disable-rule=terraform_required_version
      - id: terraform_tfsec
        args:
          - --args=--minimum-severity HIGH --exclude-downloaded-modules
      - id: terraform_providers_lock
        args:
          - --args=-platform=linux_amd64
          - --args=-platform=darwin_amd64
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: mixed-line-ending
